{% extends "layout.html" %}
{% block body %}
<h2 class="content-subhead">Delete Account</h2>
<form class="pure-form pure-form-stacked" action="/unregister" method="POST">
    <fieldset>
        <legend>Just put in your entity here and Smoke Signals will delete your information and stop posting to your account.</legend>
        <div class="pure-control-group">
            <input name="entity" type="text" placeholder="Entity"/>
        <div/>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Delete Account</button>
        </div>
    </fieldset>
</form>
{% endblock %}
